<div class="project-container">
        <div class="row">
            <div class="col-12"> 
                <div class="card card-table-border-none" id="recent-orders">
                    <div class="card-header justify-content-between">
                        <h2>Project List</h2>
                        <div class="date-range-report ">
                        <!-- <button class="btn btn-primary btn-sm" (click)="openProjectModel()">Add+</button> -->
                        <a routerLink="/project/add" class="btn btn-primary">Add+</a>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-5" *ngIf="projects">
                        <app-project-table [projects]="projects"></app-project-table>
                    </div>
                </div>
            </div>
        </div>           
    <app-project-modal-popup *ngIf="isProjectModal"></app-project-modal-popup>
</div>