<accordion [isAnimated]="true">
    <accordion-group  [panelClass]="customClass" *ngFor="let activity of activityList" heading="{{activity.title | uppercase }}" (isOpenChange)="isOpenAccor(activity)">
       <!-- <app-dar-crousel [darDates]="darWeakwiseDates" [project]="project" [activeProject]="openProject"></app-dar-crousel> -->
    </accordion-group>
</accordion>

