<carousel [interval]="false" [showIndicators]="false"   [noWrap]="true" [(activeSlide)]="startIndex">
  <slide >
    <div class="pb-3 week-head">Previous Week</div>
    <form [formGroup]="previousWeekDarForm" (ngSubmit)="savePreviousWeekDar()">
    <div class="col-md-12 d-flex justify-content-between flex-wrap p-0" >
    
    <div class="card" *ngFor = "let column of darDates[1].lastWeek"> 
      
          <div class="day">
            {{column.day}}-{{column.date}}
          </div>
          <div class="d-flex justify-content-between  time">
            
                  <div class="hours">
                    <input type="text" class="form-control" placeholder="HH" formControlName="hour-{{column.date}}-{{project.id}}">
                  </div>
                  <div class="minutes">
                    <input type="text" class="form-control" placeholder="MM" formControlName="min-{{column.date}}-{{project.id}}">
                  </div>
            
          </div>
      
    </div>
    <div class=" d-flex align-items-end  mt-4  flex-column">
      <button type="submit" class="btn btn-success">{{lastWeekButton}}</button>
    </div>
  </div>
</form>
  </slide>
  <slide>
    <div class="pb-3  week-head">Current Week</div>
    <form [formGroup]="currentWeekDarForm" (ngSubmit)="saveCurrentWeekDar()">
    <div class="col-md-12 d-flex justify-content-between flex-wrap p-0" >
    <div class="card" *ngFor = "let column of  darDates[0].cweek"> 
        <div class="day">
          {{column.day}}-{{column.date}}
        </div>
        <div class="d-flex justify-content-between  time">
         
            <div class="hours">
                <input type="text" class="form-control" placeholder="HH"  formControlName="hour-{{column.date}}-{{project.id}}">
            </div>
            <div class="minutes">
                <input type="text" class="form-control" placeholder="MM"  formControlName="min-{{column.date}}-{{project.id}}">
            </div>
          
        </div>
     </div>
    <div class=" d-flex align-items-end  mt-4  flex-column">
      <button type="submit" class="btn btn-success">{{currentWeekButtom}}</button>
    </div>
  </div>
  </form>
  </slide>

  </carousel>
 