.previous-week__wrapper{
    list-style-type: none;
    margin:0;
    padding:0;
}
.previous__week_list{
    width: 120px;
    display: inline-flex;

}
.previous__week_list__field input{
    width: 45px;
    height: 38px;
    padding: 9px;
    margin-right: 7px;
}
/* card css */
.card{
    width: 13%;
    height: 88px;
    /* border: 2px solid #999999; */
    border:2px solid #ececec;
}
.day{
padding: 9px;
text-align: center;
/* border-bottom: 2px solid #999999; */
border-bottom:2px solid #ececec;
}
.time{
    height: 43px;
}
.hours{
    text-align: center;
    width:50%;
    /* border-right: 2px solid #999999; */
    border-right:2px solid #ececec;
}
.minutes{
    text-align: center;
    width: 50%;
}
input{
    border: 0;
}
.week-head{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:#1b223c;

}
.carousel-control-next-icon{
    background-image: url();
}
::ng-deep .carousel-control-prev-icon{
    background-color: #1b223c !important;
}
::ng-deep .carousel-control-next-icon{
    background-color: #1b223c !important;
}
::ng-deep .carousel-control-next{
    top: 34px;
    right: -19px;
}
::ng-deep .carousel-control-prev{
    top: 34px;
    left: -19px;
}
.form-control{
    color:#8a909d !important;
}