
   <accordion [isAnimated]="true">
        <accordion-group  [panelClass]="customClass" *ngFor="let project of projectList;let i=index" heading="{{project.project_title | uppercase }}" (isOpenChange)="isOpenAccor(project)">
           <!-- <app-dar-crousel [darDates]="darWeakwiseDates" [project]="project" [activeProject]="openProject"></app-dar-crousel> -->
           <app-dar-entry-form  
               [darDates]="darWeakwiseDates"
               [project]="project"
               [activeProject]="openProject"
               [loopIndex]="i"
               [taskType]="taskStatus"
               [projectStatus]="p_status"
           ></app-dar-entry-form>
        </accordion-group>
  </accordion>

