
  <div class="card widget-block p-4 rounded bg-white border">
    <div class="card-block">
      <h4 class="text-primary my-2">13/40  90%</h4>
      <p class="pb-3">Current Week</p>
      <div class="progress my-2" style="height: 5px;">
        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>