<div class="search-bar">
    <!-- <input type="text" class="form-control" [(ngModel)]="title" (ngModelChange)="searchByTitle()" placeholder="Search By Brand name, Account name"> -->
</div>
<table  datatable [dtOptions]="dtOptions" class="table row-border hover card-table table-responsive table-responsive-sm" style="width:100%">
    <thead>
        <tr>
        <th>Brand ID</th>
        <th class="d-none d-md-table-cell">Account </th>
        <th>Brand</th>
       
        <!-- <th class="d-none d-md-table-cell">Created At </th> -->
        <!-- <th>Status</th> -->
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brand of brandList">
        <td >{{brand.id}}</td>
        <td class="d-none d-md-table-cell">{{brand.accountName}}</td>
        <td >
            <a class="text-dark" [routerLink]="['/account/brand',brand.id]">{{brand.brand_title}}</a>
        </td>
        
        
        
        
        <!-- <td class="d-none d-md-table-cell">{{brand.created_at}}</td> -->
        <!-- <td class="d-none d-md-table-cell">Active</td> -->
        <td class="text-right">
            <div class="dropdown show d-inline-block widget-dropdown">
            <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                <li class="dropdown-item">
                <a href="javascript:void(0)" (click)="openEditModal(brand)">Edit</a>
                </li>
                <li class="dropdown-item">
                    <a href="javascript:void(0)"  (click)="openSubBrandModal(brand)">Add Sub-brand</a>
                    </li>
                <li class="dropdown-item">
                <a href="#">Remove</a>
                </li>
            </ul>
            </div>
        </td>
        </tr>

    </tbody>
    </table>
    <div class="edit-modal">
        <app-brand-edit-modal *ngIf="isModalOpen" [brand]="activeBrand"></app-brand-edit-modal>
        
    </div>
    <div class="sub-brand">
        <app-subbrand-modal  *ngIf="isSubbrandModelOpen" [brand]="activeBrand"></app-subbrand-modal>
    </div>