<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Brand</th>
        <!-- <th>Email</th> -->
        <!-- <th>Position</th> -->
        <th>Sub Brand</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subbrand  of subBrands; let i =index">
        <td>{{i+1}}</td>
        <td>{{ subbrand.brand }}</td>
        <td>{{ subbrand.title }}</td>
        

            <td class="text-right">
                <div class="dropdown show d-inline-block widget-dropdown">
                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                    <li class="dropdown-item">
                    <a href="javascript:void(0)" >Edit</a>
                    </li>
                    <li class="dropdown-item">
                    <a href="#">Remove</a>
                    </li>
                </ul>
                </div>
            </td>
        
    
      </tr>
    </tbody>
  </table>