<div class="row">
    <div class="col-12"> 
        <!-- Recent Order Table -->
        <div class="card card-table-border-none" id="recent-orders">
        <div class="card-header justify-content-between">
            <h2>Accounts List</h2>
            <div class="date-range-report1 ">
             <button class="btn btn-primary btn-sm" (click)="openModel($event)">Add+</button>
            </div>
        </div>
        <div class="card-body pt-0 pb-5">
            <table  datatable [dtOptions]="dtOptions" class="table row-border hover card-table table-responsive table-responsive-sm" style="width:100%">
            <thead>
                <tr>
                <th>Account ID</th>
                <th>Account</th>
                <th class="d-none d-md-table-cell">Location</th>
                <!-- <th class="d-none d-md-table-cell">Created At</th> -->
                <!-- <th>Status</th> -->
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts">
                <td >{{account.id}}</td>
                <td >
                    <a class="text-dark" href="">{{account.account_name}}</a>
                </td>
                <td class="d-none d-md-table-cell">{{account.location}}</td>
<!--                 
                <td class="d-none d-md-table-cell">{{account.created_by}}</td> -->
                <!-- <td class="d-none d-md-table-cell">Active</td> -->
                <td class="text-right">
                    <div class="dropdown show d-inline-block widget-dropdown">
                    <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                        <li class="dropdown-item">
                        <a href="javascript:void(0)" (click)="openEditModal(account)">Edit</a>
                        </li>
                        <li class="dropdown-item">
                        <a href="#">Remove</a>
                        </li>
                    </ul>
                    </div>
                </td>
                </tr>

            </tbody>
            </table>
            </div>
        </div>
    </div>
     </div>           

     <div class="edit-account-modal">
 
            <app-edit-account-modal *ngIf="isOpenEditModal" [currentAccount]="getActiveAccount"></app-edit-account-modal>
  
     </div>