<aside class="left-sidebar bg-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
      <!-- Aplication Brand -->
      <div class="app-brand">
        <a routerLink="/dashboard">
          <svg
            class="brand-icon"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            width="30"
            height="33"
            viewBox="0 0 30 33"
          >
            <g fill="none" fill-rule="evenodd">
              <path
                class="logo-fill-blue"
                fill="#7DBCFF"
                d="M0 4v25l8 4V0zM22 4v25l8 4V0z"
              />
              <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
            </g>
          </svg>
          <span class="brand-name">DAR Management</span>
        </a>
      </div>
      <!-- begin sidebar scrollbar -->
      <div class="sidebar-scrollbar">

        <!-- sidebar menu -->
        <ul class="nav sidebar-inner" id="sidebar-menu">
          <li  class="has-sub" >
            <a class="sidenav-item-link" routeLink="/dashboard">
              <a routerLink="/dashboard">
                <i class="mdi mdi-view-dashboard-outline"></i>
              <span class="nav-text">Dashboard</span>
              </a>
              
            </a>
           
          </li>
          <li  class="has-sub" *ngIf="isAdminAccess || userModule">
            <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#user-elements"
            aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-view-dashboard-outline"></i>
            <span class="nav-text">User</span><b class="caret"></b>
            </a>
            <ul  class="collapse"  id="user-elements"
                data-parent="#sidebar-menu">
                    <div class="sub-menu">
                        <li  class="has-sub" >
                            <a class="sidenav-item-link" routerLink="/user/user-management"  routerLinkActive="active" data-toggle="collapse" data-target="#components"
                            aria-expanded="false" aria-controls="components">
                            <span class="nav-text">User Management</span>
                            </a>
                         
                        </li>
                    </div>
            </ul>
     </li>
           <li  class="has-sub" *ngIf="isAdminAccess || accountModule">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#account-elements"
                aria-expanded="false" aria-controls="dashboard">
                <i class="mdi mdi-view-dashboard-outline"></i>
                <span class="nav-text">Account</span><b class="caret"></b>
                </a>
                <ul  class="collapse"  id="account-elements"
                    data-parent="#sidebar-menu">
                        <div class="sub-menu">
                            <li  class="has-sub" >
                                <a class="sidenav-item-link" routerLink="/account/account-management"  routerLinkActive="active" data-toggle="collapse" data-target="#components"
                                aria-expanded="false" aria-controls="components">
                                <span class="nav-text">Account Management</span>
                                </a>
                                <a class="sidenav-item-link" routerLink="/account/brand"  routerLinkActive="active" data-toggle="collapse" data-target="#components"
                                aria-expanded="false" aria-controls="components">
                                <span class="nav-text">Brand Management</span>
                                </a>
                                
                            </li>
                        </div>
                </ul>
         </li>
          <li  class="has-sub"  *ngIf="isAdminAccess ||isProjectManager || projectModule">
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements"
                aria-expanded="false" aria-controls="ui-elements">
                <i class="mdi mdi-folder-multiple-outline"></i>
                <span class="nav-text">Projects</span> <b class="caret"></b>
              </a>
                <ul class="collapse"  id="ui-elements"
                    data-parent="#sidebar-menu">
                        <div class="sub-menu">
                            <li class="has-sub" >
                                 <a class="sidenav-item-link" routerLink="/project" data-toggle="collapse" data-target="#components"
                                aria-expanded="false" aria-controls="components">
                                <span class="nav-text">Projects</span>
                                </a>
                             </li>
                             <li class="has-sub" >
                              <a class="sidenav-item-link" routerLink="/project/activity-management" data-toggle="collapse" data-target="#components"
                             aria-expanded="false" aria-controls="components">
                             <span class="nav-text">Activity Management</span>
                             </a>
                          </li>
                        </div>
                </ul>
            </li>
            <li  class="has-sub"  *ngIf="isAdminAccess || isProjectManager">
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#charts"
                aria-expanded="false" aria-controls="charts">
                <i class="mdi mdi-chart-pie"></i>
                <span class="nav-text">Reports</span> <b class="caret"></b>
              </a>
              <ul  class="collapse"  id="charts"
                data-parent="#sidebar-menu">
                <div class="sub-menu">
                 
                   <li>
                        <a class="sidenav-item-link" href="chartjs.html">
                          <span class="nav-text">Annual</span>
                        </a>
                 </li>
                 <li >
                    <a class="sidenav-item-link" href="chartjs.html">
                      <span class="nav-text">Half Yearly</span>
                      
                    </a>
                  </li> 
                  <li >
                    <a class="sidenav-item-link" href="chartjs.html">
                      <span class="nav-text">Quaterly</span>
                      
                    </a>
                  </li>
                  <li >
                    <a class="sidenav-item-link" href="chartjs.html">
                      <span class="nav-text">Monthly</span>
                      
                    </a>
                  </li>

                  
                </div>
              </ul>
            </li>
            

          

          
            <li  class="has-sub" >
              <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#pages"
                aria-expanded="false" aria-controls="pages">
                <i class="mdi mdi-image-filter-none"></i>
                <span class="nav-text">Dar List</span> <b class="caret"></b>
              </a>
                    <ul  class="collapse"  id="pages"
                      data-parent="#sidebar-menu">
                        <div class="sub-menu">
                              <li >
                                <a class="sidenav-item-link" routerLink="/dar-management">
                                  <span class="nav-text">{{darMenuText}}</span>
                                  
                                </a>
                              </li>
                        </div>
                    </ul>
            </li>
          



          
        </ul>

      </div>

      <hr class="separator" />

    
    </div>
  </aside>
