<div class="container d-flex flex-column justify-content-between vh-100">
    <div class="row justify-content-center mt-5">
      <div class="col-xl-5 col-lg-6 col-md-10">
        <div class="card">
          <div class="card-header bg-primary">
            <div class="app-brand">
              <a href="/index.html">
                <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30"
                  height="33" viewBox="0 0 30 33">
                  <g fill="none" fill-rule="evenodd">
                    <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                    <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                  </g>
                </svg>
                <span class="brand-name">DAR APP</span>
              </a>
            </div>
          </div>
          <div class="card-body p-5">
            <h4 class="text-dark mb-5">Sign Up</h4>
            <div class="error-container" *ngIf="errorAlerts">
              <div *ngFor="let alert of errorAlerts">
                <alert [type]="alert.type" [dismissible]="dismissible" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
              </div>
            </div>
            <form [formGroup]="registerReactiveForm" (ngSubmit)="registerUser()">
              <div class="row">
                <div class="form-group col-md-12 mb-4">
                  <input 
                    type="text" 
                    class="form-control input-lg" 
                    id="name" aria-describedby="nameHelp" 
                    placeholder="Name" formControlName="name">
                    <small *ngIf="!registerReactiveForm.get('name').valid && registerReactiveForm.get('name').touched">
                        <span class="text-danger" *ngIf="registerReactiveForm.get('name').errors['required']">Field is required</span>
                    </small>
                </div>
                <div class="form-group col-md-12 mb-4">
                  <input 
                    type="email" 
                    class="form-control input-lg" 
                    id="email" aria-describedby="emailHelp" 
                    placeholder="Email" formControlName="email">
                    <small *ngIf="!registerReactiveForm.get('email').valid && registerReactiveForm.get('email').touched && registerReactiveForm.get('email').errors!=null">
                      <span class="text-danger" *ngIf="registerReactiveForm.get('email').errors['required']">Field is required</span>
                      <span class="text-danger" *ngIf="registerReactiveForm.get('email').errors['email']">Email is invalid</span> 
                      <span class="text-danger" *ngIf="registerReactiveForm.get('email').errors['emailexist']">Email is already exist</span>
                  </small>
                </div>
                <div class="form-group col-md-12 ">
                  <input 
                    type="password" 
                    class="form-control input-lg" 
                    id="password" 
                    placeholder="Password" formControlName="password">
                    <small *ngIf="!registerReactiveForm.get('password').valid && registerReactiveForm.get('password').touched">
                      <span class="text-danger" *ngIf="registerReactiveForm.get('password').errors['required']">Field is required</span>
                  </small>
                </div>
                <div class="form-group col-md-12 ">
                  
                  <select class="form-control designation" id="designation" name="designation" formControlName="designation">
                      <option value="null">Choose Designation</option>
                      <option value="vp">Vice President</option>
                      <option value="avp">Asst. Vice President</option>
                      <option value="account-manager">Account Manager</option>
                      <option value="project-manager">Project Manager</option>
                      <option value="Manager">Manager</option>
                      <option value="Assistent Manager">Assistent Manager</option>
                      <option value="Developer">Developer</option>
                      <option value="Frontend Developer">Frontend Developer</option>
                      <option value="Designer">Designer</option>
                      <option value="QA">QA</option>
                  </select>
                  <small  *ngIf="!registerReactiveForm.get('designation').valid && registerReactiveForm.get('designation').touched">
                    <span class="text-danger" *ngIf="registerReactiveForm.get('designation').errors['required']">Field is required</span>
                </small>
                </div>
                <div class="col-md-12">
                  
                  <button type="submit" class="btn btn-lg btn-primary btn-block mb-4" [disabled]="!registerReactiveForm.valid">{{buttonText}}</button>
                  <p>Already have an account?
                    <a class="text-blue" routerLink="/login">Sign in</a>
                  </p>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="copyright pl-0">
      <p class="text-center">&copy; 2018 Copyright Sleek Dashboard Bootstrap Template by
        <a class="text-primary" href="http://www.iamabdus.com/" target="_blank">Abdus</a>.
      </p>
    </div>
  </div>