.login-wrap{
    max-width: 450px !important;
}
input.ng-touched.ng-invalid{
    border:1px solid red;
    box-shadow: 0 0 13px inset rgba(255,0,0,0.2);
}
.designation.ng-touched.ng-invalid{
    border:1px solid red;
    box-shadow: 0 0 13px inset rgba(255,0,0,0.2);
}