.modal{
    display: block !important;
    z-index: 1070;
}
div#brandEditModal {
    width: 351px;
    margin: 5rem 30rem auto;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.form-group, .input-group{
    margin-bottom: 0.25rem;
}