.modal{
    display: block !important;
    z-index: 1070;
}
div#accountModal {
    width: 351px;
    margin: 7rem 30rem auto;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1.5rem;
}