<div class="dar_entry_form_container">
    <div class="dar_entry_form">
        <form [formGroup]="darEntryForm" (ngSubmit)="saveDarEntry()">
          
            <div class="form-row">
                <div class="form-group col-md-2">      
                  <!-- (change)="getDarData($event.target.value,loopIndex)" -->
                  <select id="selectDate" class="form-control" formControlName="date-{{loopIndex}}">
                    <option value=""> Date</option>
                    <option  *ngFor="let date of twoWeeksDates; let i=index" value="{{date.curr_month}}-{{date.date}}-{{date.year}}" >{{date.date}}-{{date.month}}-{{date.day}}</option>

                  </select>
                </div>
                <div class="form-group col-md-3 manage-padding">
                  <select id="selectTask" class="form-control" formControlName="task_type-{{loopIndex}}">
                    <option value="">Project Task</option>
                    <option *ngFor="let type of taskType" value="{{type.id}}">{{type.name}}</option>
                   
                  </select>
                </div>
                <div class="form-group col-md-3">
                  <select id="projectStatus" class="form-control" formControlName="project_status-{{loopIndex}}">
                    <option [defaultSelected]=true value="">Project Status</option>
                    <option *ngFor="let status of projectStatus" value="{{status.id}}">{{status.name}}</option>
                 </select>
                </div>
                <div class="form-group col-md-2">
                  <input type="text" class="form-control" placeholder="JIRA/Cradle" id="cradleNumber" formControlName="project_source-{{loopIndex}}">
                </div>
                <div class="form-group col-md-1">
                  <input type="text" class="form-control" placeholder="HH" id="hour" formControlName="hour-{{loopIndex}}">
                </div>
                <div class="form-group col-md-1">
                  <input type="text" class="form-control" placeholder="MM" id="min" formControlName="min-{{loopIndex}}">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12" >
                  <textarea class="form-control" placeholder="Text Description" id="description" rows="3" formControlName="description-{{loopIndex}}"></textarea>
                </div>
              </div>
                  <div class="form-row">
                <div class="form-group col-md-12" >
                  <input type="text" class="form-control" placeholder="Assets Path" id="assetsPath" formControlName="asset_path-{{loopIndex}}"> 
                </div>
              </div>
                <div class="form-row">
                <div class="form-group col-md-12" >
                  <input class="form-control" placeholder="Staging URL" id="stagingURL" formControlName="preview_url-{{loopIndex}}">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12" >
                  <input type="submit" class="btn btn-success" value="{{saveButton}}" [disabled]="!darEntryForm.valid">
                </div>
              </div>
        </form>
    </div>
</div>
