<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Name</th>
        <!-- <th>Email</th> -->
        <th>Position</th>
        <th>Role</th>
        <th>Assigned Module</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user  of users">
        <!-- <td>{{ user.id }}</td> -->
        <td>{{ user.name }}</td>
        <!-- <td>{{ user.email }}</td> -->
        <td>{{ user.designation }}</td>
        <td>
            
            <ng-multiselect-dropdown 
            [placeholder]="'select Role'"
            [settings]="roleDropdownSettings"
            [data]="userLevel"
            [(ngModel)]="user.role"
            (onSelect)="onItemRoleSelect($event,user)"
            (onSelectAll)="onRoleSelectAll($event,user)"
            (onDeSelect)="onRoleItemDeSelect($event,user)"
           
          >
          </ng-multiselect-dropdown>
        </td>
        <td>
            <ng-multiselect-dropdown 
            [placeholder]="'select Module'"
            [settings]="dropdownSettings"
            [data]="modules"
            [(ngModel)]="user.modules"
            (onSelect)="onItemSelect($event,user)"
            (onSelectAll)="onSelectAll($event,user)"
            (onDeSelect)="onItemDeSelect($event,user)"
           
          >
          </ng-multiselect-dropdown>
        </td>
      </tr>
    </tbody>
  </table>