.modal{
    display: block !important;
    z-index: 1070;
}
.close-modal{
    display: none !important;
}
div#assignModal {
    width: 351px;
    margin: 7rem 30rem auto;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1.5rem;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.40rem 1.2rem !important;
}