
<div class="user-container">
    <div class="row">
        <div class="col-12"> 
            <div class="card card-table-border-none" id="user-container__card">
                <div class="card-header justify-content-between">
                    <h2>User List</h2>
                    <div class="date-range-report ">
                    <button class="btn btn-primary btn-sm">Add+</button>
                    </div>
                </div>
                <div class="card-body pt-0 pb-5" *ngIf="users">
                    <app-user-table [userList]="users"></app-user-table>
                </div>
            </div>
        </div>
    </div>           
<!-- <app-project-modal-popup *ngIf="isProjectModal"></app-project-modal-popup> -->
</div>