<ng-container *ngIf="user.role[0].name=='super-admin' || user.role[0].name=='admin'">
  <div class="row">
    <div class="col-md-3">
      <ng-select
          [(ngModel)]="selectedCar" 
          (change)="selectedUser($event)"
          placeholder="Select Employee"
          [loading]="loading"
         >
        <ng-option *ngFor="let employee of userList" [value]="employee.id">{{employee.name}}</ng-option>
     </ng-select>
    </div>
    <div class="col-md-3">
      <input type="text"
      placeholder="Daterangepicker"
      (bsValueChange)="dateChange($event)"
      class="form-control custom-class"
      bsDaterangepicker
    >
    </div>
  </div>
  
  <div class="row" *ngIf="dars">
    <div class="col-md-12">
      <app-dar-table [records]="dars[0].content"></app-dar-table>
   </div>
  </div>
</ng-container>

<!-- <ng-container *ngIf="user.designation=='account-manager' || user.designation=='project-manager'">
 
  <div class="row" *ngIf="dars">
    <div class="col-md-12">
      <app-dar-table [records]="dars[0].content"></app-dar-table>
    </div>
  
  </div>
  
<tabset>
    
    <tab *ngFor="let dar of DarData"
         [heading]="dar.title"
         customClass="customClass">
      <app-dar-table [records]="dar.content"></app-dar-table>
    </tab>
  </tabset>
</ng-container > -->
<!-- <ng-container *ngIf="user.designation=='vp' || user.designation=='avp'">

 
  <tabset>
     
      <tab *ngFor="let dar of DarData"
           [heading]="dar.title"
           customClass="customClass">
        <app-dar-table [records]="dar.content"></app-dar-table>
      </tab>
    </tabset>
  </ng-container > -->
<ng-container *ngIf="user.role[0].name=='user'">

  <div class="row" *ngIf="dars">
    <div class="col-md-12">
      <app-dar-table [records]="dars[0].content"></app-dar-table>
    </div>
  
  </div>
</ng-container>