::ng-deep .nav-item{
    min-width: 150px;
    text-align: center;
}
::ng-deep .nav-tabs{
    min-width: 100%;
    flex-wrap: inherit;
    overflow-x: auto;
    overflow-y: hidden;

}
.custom-class{
    height: 36px;
}