<div class="account-list">
    <div class="account-list-table" *ngIf="accountsData">
        <app-acc-table [accounts]="accountsData.result.account"></app-acc-table>
    </div>
    <app-modal-popup *ngIf="accountPop"></app-modal-popup>
</div>


