<div class="card widget-block p-4 rounded bg-white border">
    <div class="card-block">
        <h4 class="text-primary my-2">{{record.emp_hour}}/{{record.total_working_hours}}  <span class="percentage">{{record.percentage}}%</span></h4>
        <p class="pb-3">{{record.title}}</p>
        <div class="progress my-2" style="height: 5px;" *ngIf="record.title=='Current Week'">
           
            <div class="progress-bar" [ngClass]="(record.percentage>=75)?'bg-success':'bg-danger'" role="progressbar" [style.width]="record.percentage+'%'" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" ></div>
           
        </div>
        <div class="progress  my-2" style="height: 5px;" *ngIf="record.title!='Current Week'">  
            <div class="progress-bar" [ngClass]="(record.percentage>=2)?'bg-success':'bg-danger'" role="progressbar" [style.width]="record.percentage+'%'" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" ></div>
        </div>
    </div>
</div>