
<div class="modal" [ngClass]="{'fade':isModelClose,'close-modal':isModelClose}" id="assignModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
       
        <form [formGroup]="activityAssignReactiveForm" (ngSubmit)="assigningActivity()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Activity Assign</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
       
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Select Users:</label>
       
              <ng-multiselect-dropdown *ngIf="selectedItems"
              [placeholder]="'custom placeholder'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelect)="onItemDeSelect($event)"
              formControlName="user_id"
            >
            </ng-multiselect-dropdown>
              <!-- <small *ngIf="!accountReactiveForm.get('account_name').valid && accountReactiveForm.get('account_name').touched">
                   <span class="text-danger" *ngIf="accountReactiveForm.get('account_name').errors['required']">Field is required</span>
              </small> -->
            </div>
            <!-- <div class="form-group">
              <label for="message-text" class="col-form-label">Location:</label>
              <input type="text" class="form-control" id="location-name" formControlName="location">
                <small *ngIf="!accountReactiveForm.get('location').valid && accountReactiveForm.get('location').touched">
                <span class="text-danger" *ngIf="accountReactiveForm.get('location').errors['required']">Field is required</span>
                </small>
            </div> -->
     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="closeModel()">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">{{loadingText}}</button>
        </div>
    </form>
      </div>
    </div>
  </div>