<div class="row">
    <div class="col-12"> 
        <div class="card card-table-border-none" id="recent-orders">
            <div class="card-header justify-content-between">
                <h2>Sub Brand List</h2>
                <div class="date-range-report ">
                <button class="btn btn-primary btn-sm" >Add+</button>
                </div>
            </div>
            <div class="card-body pt-0 pb-5" *ngIf="subBrands">
                <app-sub-brand-table [subBrands]="subBrands"></app-sub-brand-table>
            </div>
        </div>
    </div>
    <div class="brand-modal">
         <!-- <app-brand-modal *ngIf="isBrandModalOpen" ></app-brand-modal> -->
    </div>
</div>     
