
<table class="table table-border card-table table-responsive table-responsive-sm" style="width:100%">
    <thead>
        <tr>
        <th>ID</th>
        <th>Title</th>
        <!-- <th>Description</th> -->
        <th class="d-none d-md-table-cell">Description</th>
        <!-- <th class="d-none d-md-table-cell">Sub Cate</th> -->
        <th class="d-none d-md-table-cell">Created By</th>
       
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let activity of activities;let i =index">
                <td >{{activity.id}}</td>
                <td >{{activity.title}} </td>
                
                <td class="d-none d-md-table-cell">{{activity.description}}</td>
                
                <td class="d-none d-md-table-cell">{{activity.creator}}</td>
                
                <td class="text-right">
                    <div class="dropdown show d-inline-block widget-dropdown">
                    <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                        <li class="dropdown-item">
                            <a href="javascript:void(0)" (click)="editModal(activity)">Edit</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:void(0)"(click)="assignModal(activity)">Assign</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:void(0)">Remove</a>
                        </li>
                    </ul>
                    </div>
                </td>
        </tr>

    </tbody>
    </table>
    <div class="activity-assign-modal">
       <app-activity-assign-modal *ngIf="isActivityModalOPen" [activity]="activityData"></app-activity-assign-modal>
    </div>
