<div class="search-bar">
    <input type="text" class="form-control" [(ngModel)]="title" (ngModelChange)="searchByTitle()" placeholder="Search By Project title, Account name">
</div>
<table class="table table-border card-table table-responsive table-responsive-sm" style="width:100%">
    <thead>
        <tr>
        <th>ID</th>
        <th>Title</th>
        <!-- <th>Description</th> -->
        <th class="d-none d-md-table-cell">Category</th>
        <!-- <th class="d-none d-md-table-cell">Sub Cate</th> -->
        <th class="d-none d-md-table-cell">Account</th>
        <th class="d-none d-md-table-cell">Brand</th>
        <th>Status</th>
        <th>Managed By
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projectList">
                <td >{{project.id}}</td>
                <td >{{project.project_title}} </td>
                <!-- <td class="d-none d-md-table-cell">{{project.description}}</td> -->
                <td class="d-none d-md-table-cell">{{project.category}}</td>
                <!-- <td class="d-none d-md-table-cell">{{project.subcategory}}</td> -->
                <td class="d-none d-md-table-cell">{{project.account_name}}</td>
                <td class="d-none d-md-table-cell">{{project.brand}}</td>
                <td class="d-none d-md-table-cell">
                    <span class="badge" [ngClass]="project.projectStatus">{{project.projectStatus}}</span>
                </td>
                <td class="d-none d-md-table-cell">{{project.project_manager}}</td>
                <td class="text-right">
                    <div class="dropdown show d-inline-block widget-dropdown">
                    <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                        <li class="dropdown-item">
                            <!-- <a href="javascript:void(0)" (click)="editModal(project)">Edit</a> -->
                            <a [routerLink]="['/project/edit',project.id]">Edit</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:void(0)"(click)="assignModal(project)">Assign</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="javascript:void(0)">Remove</a>
                        </li>
                    </ul>
                    </div>
                </td>
        </tr>

    </tbody>
    </table>
    <div class="Project-assign-modal">
        <app-project-assign-modal *ngIf="isProjectAssignModel" [projectData]="projectData" ></app-project-assign-modal>
    </div>
    <div class="project-edit-modal">
          <app-project-edit-modal *ngIf="isProjectEditModal" [projectData]="projectData"></app-project-edit-modal>
    </div>
