
    
<div class="modal" [ngClass]="{'fade':isModelClose}" id="brandModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="brandReactiveForm" (ngSubmit)="addBrand()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Brand</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
       
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Brand Name:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="brand_title">
              <small *ngIf="!brandReactiveForm.get('brand_title').valid && brandReactiveForm.get('brand_title').touched">
                   <span class="text-danger" *ngIf="brandReactiveForm.get('brand_title').errors['required']">Field is required</span>
              </small>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Account Name:</label>
              <!-- <input type="text" class="form-control" id="location-name" formControlName="account_id"> -->
              <select class="form-control" formControlName="account_id">
                 <option value="null">Select Account</option>
                 <option *ngFor="let account of accounts" value="{{account.id}}" >{{account.account_name}}</option>
              </select>
                <small *ngIf="!brandReactiveForm.get('account_id').valid && brandReactiveForm.get('account_id').touched">
                <span class="text-danger" *ngIf="brandReactiveForm.get('account_id').errors['required']">Field is required</span>
                </small>
            </div>
     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModel()">Close</button>
          <button type="submit" class="btn btn-primary">Save Account</button>
        </div>
    </form>
      </div>
    </div>
  </div>
