<div class="project-container">
    <div class="row">
        <div class="col-12"> 
            <div class="card card-table-border-none" id="recent-orders">
                <div class="card-header justify-content-between">
                    <h2>Add Project</h2>
                    <div class="date-range-report ">
                    <!-- <button class="btn btn-primary btn-sm" (click)="openProjectModel()">Add+</button> -->
                    <a routerLink="/project" class="btn btn-primary">Back</a>
                    </div>
                </div>
                <div class="card-body mt-50 pt-0 pb-5">
                    <div class="col-8 form-div">
                    <form [formGroup]="preojectReactiveForm" (ngSubmit)="updateProject()">
                       
                                <div class="row">
                                   <div class="col-md-12"> 
                                    <div class="form-group">
                                      <!-- <label for="message-text" class="col-form-label">Description:</label> -->
                                      <input type="text" class="form-control" id="recipient-name" formControlName="project_title" placeholder="Project Title">
                                        <small *ngIf="!preojectReactiveForm.get('project_title').valid && preojectReactiveForm.get('project_title').touched">
                                            <span class="text-danger" *ngIf="preojectReactiveForm.get('project_title').errors['required']">Field is required</span>
                                        </small>
                                    </div>
                                   </div>
                                 
                                </div>
                                <div class="row">
                                   <div class="col-md-12">
                                     <div class="form-group">
                                      <textarea class="form-control" formControlName="description" placeholder="Description"></textarea>
                                     </div>
                                   </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 clear-right-padding">
                                    <div class="form-group">
                                       <input type="text" class="form-control" formControlName="startDate" placeholder="Start Time" bsDatepicker>
                                          <small *ngIf="!preojectReactiveForm.get('startDate').valid && preojectReactiveForm.get('startDate').touched">
                                            <span class="text-danger" *ngIf="preojectReactiveForm.get('startDate').errors['required']">Field is required</span>
                                          </small>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                     <input type ="text" class="form-control" formControlName="endDate" placeholder="End Date" bsDatepicker >
                                          <small *ngIf="!preojectReactiveForm.get('endDate').valid && preojectReactiveForm.get('endDate').touched">
                                            <span class="text-danger" *ngIf="preojectReactiveForm.get('endDate').errors['required']">Field is required</span>
                                          </small>
                                    </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-4 clear-right-padding">
                                        <div class="form-group">
                                          <!-- <label for="message-text" class="col-form-label">Account:</label> -->
                                          <select formControlName="account_id" class="form-control" *ngIf="accounts" #account (change)="accountChange(account.value)">
                                            <option [ngValue]="null" disabled>Office</option>
                                              <option *ngFor="let account of accounts; let i = index" [value]="accounts[i].id">{{accounts[i].account_name}}</option>
                                            
                                          </select>
                                            <small *ngIf="!preojectReactiveForm.get('account_id').valid && preojectReactiveForm.get('account_id').touched">
                                            <span class="text-danger" *ngIf="preojectReactiveForm.get('account_id').errors['required']">Field is required</span>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group" *ngIf="brands" >
                                        <!-- <label for="message-text" class="col-form-label">Account:</label> -->
                                        <select formControlName="brand_id" class="form-control" (change)="getSubBrandOfBrand($event.target.value)" >
                                          <option [ngValue]="null" disabled>Brand</option>
                                           <option *ngFor="let brand of brands; let i = index" [value]="brand.id">{{brand.brand_title}}</option>
                                          
                                        </select>
                                          <small *ngIf="!preojectReactiveForm.get('brand_id').valid && preojectReactiveForm.get('brand_id').touched">
                                          <span class="text-danger" *ngIf="preojectReactiveForm.get('brand_id').errors['required']">Field is required</span>
                                          </small>
                                      </div>
                                    </div>
                                    <div class="col-md-4 clear-left-padding">
                                      <div class="form-group" >
                                        <!-- <label for="message-text" class="col-form-label">Account:</label> -->
                                        <select formControlName="sub_brand_id" class="form-control"  >
                                            <option [ngValue]="null" disabled>SubBrand</option>
                                            <option *ngFor="let sbrand of subBrand; let i = index" [value]="sbrand.id">{{sbrand.title}}</option>
                                        </select>
                                          <small *ngIf="!preojectReactiveForm.get('sub_brand_id').valid && preojectReactiveForm.get('sub_brand_id').touched">
                                          <span class="text-danger" *ngIf="preojectReactiveForm.get('sub_brand_id').errors['required']">Field is required</span>
                                          </small>
                                      </div>
                                    </div>
                                </div> 
                                <div  formArrayName="tasks"> 
                                  <div class="dynamic-row" *ngFor="let task of preojectReactiveForm.get('tasks')['controls']; let i=index" [formGroupName]="i">
                                    <div class="row">
                                          <div class="col-md-6 clear-right-padding">
                                                <div class="form-group">
                                  
                                                <select formControlName="project_type" id="project_type{{i}}" class="form-control" *ngIf="categories" #cate (change)="changeCategory($event.target.value,i)"> 
                                                  <option [ngValue]="null" disabled>Project Type</option>
                                                  <option *ngFor="let category of categories; let i = index" [value]="category.id">{{category.title}}</option>
                                                </select>
                                                  <small *ngIf="!this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].project_type.valid && this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].project_type.touched">
                                                  <span class="text-danger" *ngIf="this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].project_type.errors['required']">Field is required</span>
                                                  </small>
                                              </div>
                                        </div>
                                  
                                      <div class="col-md-6">
                                          <div class="form-group">
                                           
                                            <select formControlName="sub_cate" id="sub-cate-{{i}}"class="form-control" *ngIf="subCategories">
                                              <option [ngValue]="null" disabled>Project Sub Type</option>
                                                <option *ngFor="let subcate of subCategory[i]; let i = index" [value]="subcate.id">{{subcate.title}}</option>
                                              
                                            </select>
                                              <small *ngIf="!this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].sub_cate.valid && this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].sub_cate.touched">
                                              <span class="text-danger" *ngIf="this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].sub_cate.errors['required']">Field is required</span>
                                              </small>
                                          </div>
                                        </div>
                                  </div>
                                    <div class="row">
                                      <div class="col-md-6 clear-right-padding">
                                            <div class="form-group">
                                             
                                              <select formControlName="quantity" id="quantity-{{i}}" class="form-control"> 
                                                <option [ngValue]="null" disabled>Quantity</option>
                                                <option *ngFor="let quantity of qunatities; let i = index" [value]="quantity">{{quantity}}</option>
                                             
                                              </select>
                                                <small *ngIf="!this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].quantity.valid && this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].quantity.touched">
                                                <span class="text-danger" *ngIf="this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].quantity.errors['required']">Field is required</span>
                                                </small>
                                            </div>
                                      </div>
                                
                                    <div class="col-md-6">
                                        <div class="form-group">
                                       
                                          <select formControlName="language" class="form-control" id="language-{{i}}">
                                            <option [ngValue]="null" disabled>Language</option>
                                            <!-- <option value="chiness">Chinees</option>
                                            <option value="french">French</option>
                                            <option value="french">French</option> -->
                                              <option *ngFor="let langauage of langauages; let i = index" [value]="langauage.id">{{langauage.name}}</option>
                                            
                                          </select>
                                            <small *ngIf="!this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].language.valid &&this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].language.touched">
                                            <span class="text-danger" *ngIf="this.preojectReactiveForm.get('tasks')['controls'][i]['controls'].language.errors['required']">Field is required</span>
                                            </small>
                                        </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" *ngIf="this.preojectReactiveForm.get('tasks')['controls'].length>1">
                                        <span (click)="remove(i)" class="btn btn-danger btn-right">-</span>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-12">
                                        <span (click)="addMore()" class="btn btn-primary btn-right">+</span>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 clear-right-padding">
                                      <div class="form-group">
                                            <!-- <label for="message-text" class="col-form-label">Project Manager:</label> -->
                                            <select formControlName="managed_by" class="form-control" *ngIf="users">
                                              <option [ngValue]="null" disabled>Select Manager</option>
                                                <option *ngFor="let user of users; let i=index" [value]="user.id">{{user.name}}</option>
                                            </select>
                                              <small *ngIf="!preojectReactiveForm.get('managed_by').valid && preojectReactiveForm.get('managed_by').touched">
                                              <span class="text-danger" *ngIf="preojectReactiveForm.get('managed_by').errors['required']">Field is required</span>
                                              </small>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group">
                                              <!-- <label for="message-text" class="col-form-label">Project Status:</label> -->
                                              <select formControlName="projectStatus" class="form-control" *ngIf="users">
                                                <option [ngValue]="null" disabled>Select Status</option>
                                                <option value="not-started-yet ">Not Started</option>
                                                <option value="WIP">WIP</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Completed">Completed</option>
                                              </select>
                                                <small *ngIf="!preojectReactiveForm.get('projectStatus').valid && preojectReactiveForm.get('projectStatus').touched">
                                                <span class="text-danger" *ngIf="preojectReactiveForm.get('projectStatus').errors['required']">Field is required</span>
                                                </small>
                                            </div>
                                        </div>
                                  </div>
                                
                                 <div class="row">
                                  <div class="col-md-6 clear-right-padding">
                                   <div class="form-group">
                                     <!-- <label for="message-text" class="col-form-label">Description:</label> -->
                                     <input type="text" class="form-control" id="recipient-name1" formControlName="jira_no" placeholder="Jira No">
                                     
                                       <!-- <small *ngIf="!preojectReactiveForm.get('jira_no').valid && preojectReactiveForm.get('jira_no').touched">
                                           <span class="text-danger" *ngIf="preojectReactiveForm.get('jira_no').errors['required']">Field is required</span>
                                       </small> -->
                                   </div>
                                  </div>
                                  <div class="col-md-6">
                                   <div class="form-group">
                                     <!-- <label for="message-text" class="col-form-label">Description:</label> -->
                                     <input type="text" class="form-control" id="recipient-na" formControlName="cradle" placeholder="Cradle No">
                                       <!-- <small *ngIf="!preojectReactiveForm.get('cradle').valid && preojectReactiveForm.get('cradle').touched">
                                           <span class="text-danger" *ngIf="preojectReactiveForm.get('cradle').errors['required']">{{loadingText}}</span>
                                       </small> -->
                                   </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-3 clear-right-padding">
                                    <div class="form-group">
                                      <!-- <label for="message-text" class="col-form-label">Description:</label> -->
                                      <select class="form-control" formControlName="currency_name">
                                        <option [ngValue]="null">currency</option>
                                        <option value="INR">INR</option>
                                        <option value="USD">USD</option>
                                        <option value="Euro">Euro</option>
                                      </select>
                                        <!-- <small *ngIf="!preojectReactiveForm.get('costing').valid && preojectReactiveForm.get('costing').touched">
                                            <span class="text-danger" *ngIf="preojectReactiveForm.get('costing').errors['required']">{{loadingText}}</span>
                                        </small> -->
                                    </div>
                                   </div>
                                  <div class="col-md-3 clear-right-padding">
                                   <div class="form-group">
                                     <!-- <label for="message-text" class="col-form-label">Description:</label> -->
                                     <input type="text" class="form-control" id="recipient-nam2" formControlName="costing" placeholder="Costing">
                                       <small *ngIf="!preojectReactiveForm.get('costing').valid && preojectReactiveForm.get('costing').touched">
                                           <span class="text-danger" *ngIf="preojectReactiveForm.get('costing').errors['required']">{{loadingText}}</span>
                                       </small>
                                   </div>
                                  </div>
                                  <div class="col-md-6">
                                        <div class="form-group">
                                           <select class="form-control" formControlName="client_manager_name">
                                            <option [ngValue]="null" disabled>Client Manager </option>
                                            <option *ngFor="let cm of clientManagers;let i =index" value="{{cm.id}}">{{cm.manager_name}}</option>
                                           </select>
                                           <small *ngIf="!preojectReactiveForm.get('client_manager_name').valid && preojectReactiveForm.get('client_manager_name').touched">
                                            <span class="text-danger" *ngIf="preojectReactiveForm.get('client_manager_name').errors['required']">Field is required</span>
                                          </small>
                                        </div>
                                  </div>
                                </div>
                                 <div class="row">
                                   <div class="col-md-6 clear-right-padding">
                                    <div class="form-group">
                                      <!-- <label for="message-text" class="col-form-label">Description:</label> -->
                                      <input type="text" class="form-control" id="recipient-name3" formControlName="po" placeholder="PO">
                                      
                                      </div>
                                   </div>
                                   <div class="col-md-6"> 
                                    <div class="form-group">
                                        <select class="form-control" formControlName="team_type" #teamRef (change)="teamSelect(teamRef.value)">
                                           <option value="null">Team</option>
                                          <option *ngFor="let team of teams " [value]="team.id">{{team.team_name}}</option>
                                        </select>
                                    </div>
                                 </div>
                                 </div>
                        
                      
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="closeModel()">Close</button>
                          <button type="submit" class="btn btn-primary btn-sm">{{loadingText}}</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>           

</div>






