<div class="row" *ngIf="DarHoursRecord">
  <div class="col-md-6 col-lg-6 col-xl-3" *ngFor="let result of DarHoursRecord">
    <app-home-widget [record]="result"></app-home-widget>
  </div>
</div>
<div class="row" *ngIf="notifications">
  <div class="col-md-12">
    <app-deadline-notification [notifications]="notifications"></app-deadline-notification>
  </div>

</div>
  
  <div class="row">
 
    <div class="col-12 project-list"> 
         <div class="card" id="ProjectList">
            <div class="card-header project-list-header justify-content-between">
                   <h2>Assigned Projects</h2>
                  <!-- <div class="date-range-report ">
                      <span></span>
                  </div> -->
            </div>
            <div class="card-body pt-30 pb-5">
              <div class="record-not-founds" *ngIf="error">
                <app-record-not-found [message]="error" *ngIf="error"></app-record-not-found>
              </div>
              
              <app-project-list [projectList]="projects"></app-project-list>

            </div>
        </div>
     </div>
    </div>

    <!-- <div class="row">
 
      <div class="col-12 activity-list"> 
           <div class="card" id="activityList">
              <div class="card-header project-list-header justify-content-between">
                     <h2>Assigned Activity</h2>
                    <div class="date-range-report ">
                        <span></span>
                    </div>
              </div>
              <div class="card-body pt-30 pb-5">
                <div class="record-not-founds" *ngIf="error">
                  <app-record-not-found [message]="error" *ngIf="error"></app-record-not-found>
                </div> 
              
                <app-activity-list *ngIf="activities" [activityList]="activities"></app-activity-list>
  
              </div>
          </div>
       </div>
      </div> -->
     