.col-form-label {
    padding-top: calc(0.10rem + 1px);
    padding-bottom: calc(0.10rem + 1px);
}
select.ng-touched.ng-invalid{
    border:1px solid red;
    box-shadow: 0 0 13px inset rgba(255,0,0,0.2);
}
.form-group{
    margin-bottom: 15px;
}
.form-group, .input-group {
    margin-bottom: 15px;
}
textarea{
    height: 42px;
}
.modal-body{
    padding-left: 2rem;
    padding-right: 2rem;
}
input.form-control{
    height: 36px;
}
select.form-control{
    height: 36px
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.40rem 1.2rem !important;
}
.theme-green .bs-datepicker-head {
    background-color: #4c84ff !important;
}
.form-group .form-control, .input-group .form-control {
    font-size: 0.98rem;
    padding: .4rem 1.02rem;
    /* border-color: #e5e9f2; */
}
.clear-right-padding{
    padding-right: 0px;
}
.clear-left-padding{
    padding-left: 0px;
}
.pad-4{
    padding-left: 4px;
    padding-right: 4px;
}
textarea{
    height: 39px;
}
.modal-header{
    padding: 0.6rem;
}
.dynamic-row{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 13px;
}
.form-div{
    margin:auto;
}
.btn-right{
    float: right;
    padding: 0.10rem .2rem !important;
}