<div class="row">
    <div class="col-12"> 
        <div class="card card-table-border-none" id="recent-orders">
            <div class="card-header justify-content-between">
                <h2>Brand List</h2>
                <div class="date-range-report ">
                <button class="btn btn-primary btn-sm" (click)="openBrandModel()">Add+</button>
                </div>
            </div>
            <div class="card-body pt-0 pb-5" *ngIf="brands">
                <app-brand-tbl [brands]="brands"></app-brand-tbl>
            </div>
        </div>
    </div>
    <div class="brand-modal">
         <app-brand-modal *ngIf="isBrandModalOpen" ></app-brand-modal>
    </div>
</div>     
