
    
<div class="modal" [ngClass]="{'fade':isModelClose,'close-modal':isModelClose}" id="projectEditModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="preojectReactiveForm" (ngSubmit)="updateProject()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-8  clear-right-padding">
                <div class="form-group">
                  <!-- <label for="recipient-name" class="col-form-label">Project Title:</label> -->
                  <input type="text" class="form-control" id="recipient-name" formControlName="project_title" placeholder="Project Title">
                  <small *ngIf="!preojectReactiveForm.get('project_title').valid && preojectReactiveForm.get('project_title').touched">
                      <span class="text-danger" *ngIf="preojectReactiveForm.get('project_title').errors['required']">Field is required</span>
                  </small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <select class="form-control" formControlName="team_type" #teamRef (change)="teamSelect(teamRef.value)">
                    <option value="null">Team</option>
                   <option *ngFor="let team of teams " [value]="team.id">{{team.team_name}}</option>
                 </select>
                </div>
              </div>
          </div>
          
          <div class="form-group">
            <!-- <label for="message-text" class="col-form-label">Description:</label> -->
              <textarea class="form-control" formControlName="description" placeholder="Description"></textarea>
          </div>
          <div class="row">
            <div class="col-md-6 clear-right-padding">
              <div class="form-group">
                 <input type="text" class="form-control" formControlName="startDate" placeholder="Start Time" bsDatepicker>
                    <small *ngIf="!preojectReactiveForm.get('startDate').valid && preojectReactiveForm.get('startDate').touched">
                      <span class="text-danger" *ngIf="preojectReactiveForm.get('startDate').errors['required']">Field is required</span>
                    </small>
                </div>
            </div>
            <div class="col-md-6">
               <input type ="text" class="form-control" formControlName="endDate" placeholder="End Date" bsDatepicker >
                    <small *ngIf="!preojectReactiveForm.get('endDate').valid && preojectReactiveForm.get('endDate').touched">
                      <span class="text-danger" *ngIf="preojectReactiveForm.get('endDate').errors['required']">Field is required</span>
                    </small>
              </div>
      </div>
          <div class="row">
              <div class="col-md-6 clear-right-padding">
                  <div class="form-group">
                    <!-- <label for="message-text" class="col-form-label">Account:</label> -->
                    <select formControlName="account_id" class="form-control" *ngIf="accounts" #account (change)="accountChange(account.value)">
                      <option [ngValue]="null" disabled>Select Account</option>
                        <option *ngFor="let account of accounts; let i = index" [value]="accounts[i].id">{{accounts[i].account_name}}</option>
                      
                    </select>
                      <small *ngIf="!preojectReactiveForm.get('account_id').valid && preojectReactiveForm.get('account_id').touched">
                      <span class="text-danger" *ngIf="preojectReactiveForm.get('account_id').errors['required']">Field is required</span>
                      </small>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" *ngIf="brands" >
                  <!-- <label for="message-text" class="col-form-label">Account:</label> -->
                  <select formControlName="brand_id" class="form-control"  >
                    <option [ngValue]="null" disabled>Select Brand</option>
                     <option *ngFor="let brand of brands; let i = index" [value]="brand.id">{{brand.brand_title}}</option>
                    
                  </select>
                    <small *ngIf="!preojectReactiveForm.get('brand_id').valid && preojectReactiveForm.get('brand_id').touched">
                    <span class="text-danger" *ngIf="preojectReactiveForm.get('brand_id').errors['required']">Field is required</span>
                    </small>
                </div>
              </div>
          </div> 

          <div class="row">
                <div class="col-md-6 clear-right-padding">
                      <div class="form-group">
                        <!-- <label for="message-text" class="col-form-label">Project Type:</label> -->
                        <select formControlName="project_type" class="form-control" *ngIf="categories" #cate (change)="changeCategory(cate.value)"> 
                          <option [ngValue]="null" disabled>Project Category</option>
                          <option *ngFor="let category of categories; let i = index" [value]="category.id">{{category.title}}</option>
                        </select>
                          <small *ngIf="!preojectReactiveForm.get('project_type').valid && preojectReactiveForm.get('project_type').touched">
                          <span class="text-danger" *ngIf="preojectReactiveForm.get('project_type').errors['required']">Field is required</span>
                          </small>
                      </div>
                </div>
          
              <div class="col-md-6">
                  <div class="form-group">
                    <!-- <label for="message-text" class="col-form-label">Account:</label> -->
                    <select formControlName="sub_cate" class="form-control" *ngIf="subCategories">
                      <option [ngValue]="null" disabled>Select Sub-Cate</option>
                        <option *ngFor="let subcate of subCategories; let i = index" [value]="subcate.id">{{subcate.title}}</option>
                      
                    </select>
                      <small *ngIf="!preojectReactiveForm.get('sub_cate').valid && preojectReactiveForm.get('sub_cate').touched">
                      <span class="text-danger" *ngIf="preojectReactiveForm.get('sub_cate').errors['required']">Field is required</span>
                      </small>
                  </div>
                </div>
          </div>
          <div class="row">
            <div class="col-md-6 clear-right-padding">
                <div class="form-group">
                      <!-- <label for="message-text" class="col-form-label">Project Manager:</label> -->
                      <select formControlName="managed_by" class="form-control" *ngIf="users">
                        <option [ngValue]="null" disabled>Choose User</option>
                          <option *ngFor="let user of users; let i=index" [value]="user.id">{{user.name}}</option>
                      </select>
                        <small *ngIf="!preojectReactiveForm.get('managed_by').valid && preojectReactiveForm.get('managed_by').touched">
                        <span class="text-danger" *ngIf="preojectReactiveForm.get('managed_by').errors['required']">Field is required</span>
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                        <!-- <label for="message-text" class="col-form-label">Project Status:</label> -->
                        <select formControlName="projectStatus" class="form-control" *ngIf="users">
                          <option [ngValue]="null" disabled>Select Status</option>
                          <option value="not-started-yet ">Not Started</option>
                          <option value="WIP">WIP</option>
                          <option value="Pending">Pending</option>
                          <option value="Completed">Completed</option>
                        </select>
                          <small *ngIf="!preojectReactiveForm.get('projectStatus').valid && preojectReactiveForm.get('projectStatus').touched">
                          <span class="text-danger" *ngIf="preojectReactiveForm.get('projectStatus').errors['required']">Field is required</span>
                          </small>
                      </div>
                  </div>
            </div>
            <div class="row">
              <div class="col-md-6 clear-right-padding">
               <div class="form-group">
                 <!-- <label for="message-text" class="col-form-label">Description:</label> -->
               <!-- <input type="text" class="form-control" id="recipient-name1" formControlName="project_source" placeholder="Project source"> -->
                  <select class="form-control" formControlName="project_source">
                    <option value="">Select Source</option>
                    <option *ngFor="let source of projectSource; let i =index" [value]="source.id">{{source.project_source}}</option>
                  </select>    
               <small *ngIf="!preojectReactiveForm.get('project_source').valid && preojectReactiveForm.get('project_source').touched">
                       <span class="text-danger" *ngIf="preojectReactiveForm.get('project_source').errors['required']">Field is required</span>
                   </small>
               </div>
              </div>
              <div class="col-md-6">
               <div class="form-group">
                 <!-- <label for="message-text" class="col-form-label">Description:</label> -->
                 <input type="text" class="form-control" id="recipient-nam2" formControlName="costing" placeholder="Costing">
                   <small *ngIf="!preojectReactiveForm.get('costing').valid && preojectReactiveForm.get('costing').touched">
                       <span class="text-danger" *ngIf="preojectReactiveForm.get('costing').errors['required']">Field is required</span>
                   </small>
               </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
               <div class="form-group">
                 <!-- <label for="message-text" class="col-form-label">Description:</label> -->
                 <input type="text" class="form-control" id="recipient-name3" formControlName="client_manager_name" placeholder="Client Manager Name">
                   <small *ngIf="!preojectReactiveForm.get('client_manager_name').valid && preojectReactiveForm.get('client_manager_name').touched">
                       <span class="text-danger" *ngIf="preojectReactiveForm.get('client_manager_name').errors['required']">Field is required</span>
                   </small>
                 </div>
              </div>
            </div>
         </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="closeModel()">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">{{loadingText}}</button>
        </div>
    </form>
      </div>
    </div>
  </div>