.modal{
    display: block !important;
    z-index: 1070;
}
.close-modal{
    display: none !important;
}
.modal-dialog{
    width: 440px;
}
.col-form-label {
    padding-top: calc(0.10rem + 1px);
    padding-bottom: calc(0.10rem + 1px);
}
select.ng-touched.ng-invalid{
    border:1px solid red;
    box-shadow: 0 0 13px inset rgba(255,0,0,0.2);
}
.form-group{
    margin-bottom: 15px;
}
.form-group, .input-group {
    margin-bottom: 15px;
}
textarea{
    height: 42px;
}
.modal-body{
    padding-left: 2rem;
    padding-right: 2rem;
}
input.form-control{
    height: 36px;
}
select.form-control{
    height: 36px
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.40rem 1.2rem !important;
}
.theme-green .bs-datepicker-head {
    background-color: #4c84ff !important;
}
.clear-right-padding{
    padding-right: 0px;
}
.clear-left-padding{
    padding-left: 0px;
}
.pad-4{
    padding-left: 4px;
    padding-right: 4px;
}
