/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    z-index: 1055;

}
input.ng-touched.ng-invalid{
    border:1px solid red;
    box-shadow: 0 0 13px inset rgba(255,0,0,0.2);
}
select.ng-touched.ng-invalid{
    border:1px solid red;
    box-shadow: 0 0 13px inset rgba(255,0,0,0.2);
}
.theme-green .bs-datepicker-head {
    background-color: #4c84ff !important;
}
.bs-datepicker-container {
    padding: 0px !important;
}
.WIP{
    background-color: #fec400;
}
.Completed{
    background-color: #29cc97;
}
.Pending{
    background-color: #fe5461;
}
.not-started-yet{
    background-color: hsl(226, 88%, 56%);
}
.card.customClass .card-header
{
  background-color: rgba(0,0,0,0.02);
   padding:0.40rem 1.25rem;
   border:none;
}
.btn-link {
    font-weight: 500;
    color: #717989;
    background-color: transparent;
    font-size: 0.9rem;
}
.carousel-control-prev, .carousel-control-next{
    width: 2% !important;
}
.nav-tabs .nav-item .nav-link{
    padding: .3rem 0.5rem;
}
.tab-content > .active {
    display: block;
    min-height: 600px;
    background: #fff;
    padding: 10px;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #eae3e3 !important;
}
table.dataTable.no-footer {
    border: 1px solid #eae3e3 !important;
}
.modal-body{
    max-height: 550px;
    overflow-x: auto;
}

.edit-dar-modal{
    max-width: 850px !important;
    margin: 1.75rem auto;
}