<table 
    class="table table-border card-table table-responsive table-hover table-responsive-sm" 
    style="width:100%; background-color: #ffffff;">
    <thead>
        <tr>
        <th>ID</th>
        <th>Project Title</th>
        <th>Project Manager</th>
        <!-- <th>Emp Name</th> -->
        <th class="d-none d-md-table-cell">Hour</th>
        <!-- <th class="d-none d-md-table-cell">Min</th> -->
        <th>Date</th>
        <th>Day</th>
        
        <th>Month</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of records;let i=index">
                <td >{{i+1}}</td>
                <td >{{record.project_title}} </td>
                <td class="d-none d-md-table-cell" >{{record.manager_name}}</td>
                <!-- <td class="d-none d-md-table-cell">{{record.}}</td> -->
                <!-- <td class="d-none d-md-table-cell">{{record.name}}</td> -->
                <td class="d-none d-md-table-cell">
                  {{record.hour}}
                </td>
                <!-- <td class="d-none d-md-table-cell"></td> -->
                <td class="">
                    {{record.day<=9?'0'+record.day:record.day}}-{{record.month}}-{{record.year}}
                </td>
                <td class="">
                    {{record.dayName}}
                </td>
                <td class="">
                    {{monthsName[record.month-1]}}
                </td>
                <td class="text-right">
                    <div class="dropdown show d-inline-block widget-dropdown">
                    <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                        <li class="dropdown-item">
                        <a href="javascript:void(0)" (click)="openModal(template,record)">Edit</a>
                        </li>
                        <li class="dropdown-item">
                        <a href="#">Remove</a>
                        </li>
                    </ul>
                    </div>
                </td>
        </tr>

    </tbody>
    </table>
    <ng-template #template>
        <div id="edit-dar-modal">
            <app-edit-dar [modalRef]="modalRef"
            [darDates]="darWeakwiseDates"
            [currentDar]="activeRecord"
            [taskType]="taskStatus"
            [projectStatus]="p_status"
            ></app-edit-dar>
        </div>
    
      </ng-template>