.card-table tbody td{
    padding:4px !important;
    /* text-align: center; */
}
.card-table thead th {
    font-size: .88rem;
    font-weight: 55 0;
    padding: 11px 0.19rem 1.25rem 15px;
    color: #8a909d;
    /* text-align: center; */
}
.card-table tbody td {
    font-size: 0.89rem;
}