<div class="">
    <div class="card card-default mb-4 mb-lg-5" data-scroll-height="389">
        <div class="card-header card-header-border-bottom">
            <h2>Project Deadline Notification</h2>
        </div>

        <div class="card-body slim-scroll p-0">
            <div class="media py-1 align-items-center justify-content-between border-bottom px-5" *ngFor="let notification of notifications">
                <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
                    <i class="mdi mdi-file-check font-size-20"></i>
                </div>
                <div class="media-body pr-3">
                    <a class="mt-0 mb-1 font-size-15 text-dark" href="#">{{notification.project_title}}</a>
                    <p class="text-danger">Delivary Date-{{notification.deliveryDate}}</p>
                </div>

                <span class=" font-size-12 d-inline-block text-danger"><i class="mdi mdi-clock-outline"></i> {{notification.deliveryTime}}</span>
            </div>


        </div>
        <div class="mt-3"></div>
    </div>
</div>